DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
TZ=America/New_York

POSTGRES_DB=qa_tools
POSTGRES_USER=qa_tools
POSTGRES_PASSWORD=qa_tools
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin12345

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TASK_TIME_LIMIT=7200
RUN_MIGRATIONS=true
RUN_COLLECTSTATIC=true
